# виртуалки / кеши / билды
.venv/
.venv_use/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.pytest_cache/
.ruff_cache/
.mypy_cache/
dist/
build/

# OS
.DS_Store

# Данные БД и метаданные
data/
storage/
db_meta.json

# env
.env


# lockfile
poetry.lock